.icon-close:before {
    content: "\e914";
}

.icon-minus:before {
    content: "\e91a";
}

.icon-plus:before {
    content: "\e91b";
}

.icon-more:before {
    content: "\e921";
}

.icon-edit:before, .icon-manual:before {
    content: "\e93c";
}

.icon-share:before,
.icon-same_as_child_percent_complete:before,
.icon-child_hierarchy_count:before,
.icon-child_todo_count:before,
.icon-child_todo_effort:before,
.icon-child_progress:before,
.icon-sameaschildpercentprogress:before,
.icon-childcardscompleted:before,
.icon-childtodocount:before,
.icon-childtodoeffort:before,
.icon-childprogress:before {
    content: "\e95d";
}

.icon-traceability:before {
    content: "\e900";
}

.icon-predecessor:before {
    content: "\e901";
}

.icon-successor:before {
    content: "\e902";
}

.icon-add-parent-card:before {
    content: "\e903";
}

.icon-set-context:before {
    content: "\e904";
}

.icon-broken-link:before {
    content: "\e905";
}

.icon-add-child-card:before {
    content: "\e906";
}

.icon-arrow-right:before {
    content: "\e908";
}

.icon-back-arrow:before {
    content: "\e917";
}

.icon-table_filter:before {
    content: "\e907";
}

.icon-todo:before,
.icon-todo_count:before,
.icon-todo_effort:before,
.icon-todocount:before,
.icon-todoeffort:before {
    content: "\e909";
}

.icon-collapse_arrow:before {
    content: "\e90a";
}

.icon-expand_arrow:before {
    content: "\e90b";
}

.icon-info:before {
    content: "\e90c";
}

.icon-success:before {
    content: "\e90d";
}

.icon-Warning:before {
    content: "\e90e";
}

.icon-Error:before {
    content: "\e91f";
}

.icon-plus-filled:before {
    content: "\e90f";
}

.icon-minus-filled:before {
    content: "\e910";
}

.icon-greater_than_operator:before {
    content: "\e913";
}

.icon-less_than_operator:before {
    content: "\e911";
}

.icon-equal_to_operator:before {
    content: "\e912";
}

.icon-Search:before {
    content: "\e915";
}

.icon-Search-Add:before {
    content: "\e91c";
}

.icon-add-menu:before {
    content: "\e916";
}

.icon-add-parent-node:before {
    content: "\e918";
}

.icon-add-child-node:before {
    content: "\e919";
}

.icon-clear-filter:before {
    content: "\e91d";
}

.icon-filter-selected:before {
    content: "\e91e";
}

.icon-sbblox:before {
    content: "\e920";
}

.icon-fieldsegment:before {
    content: "\e922";
}

.icon-attachments:before {
    content: "\e923";
}

.icon-comments:before {
    content: "\e924";
}

.icon-datatable:before {
    content: "\e925";
}

.icon-tags:before {
    content: "\e926";
}

.icon-analytics:before {
    content: "\e927";
}

.icon-move:before {
    content: "\e928";
}

.icon-gear:before {
    content: "\e929";
}

.icon-delete:before {
    content: "\e92a";
}