* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
	font-family: "Lato-Regular";
}

#root {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
}

[class*="icon-"]:before {
	font-family: "icomoon" !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
}

[class*="icon-"]:not(.dg-snackbaricon):not(.dialog-type-icon) {
	color: #000000;
	opacity: 0.54;
	transition: opacity 0.4s ease;
}

[class*="icon-"]:not(.dg-snackbaricon):not(.dialog-type-icon):hover {
	opacity: 0.87;
}