@import "fonts/fonts.scss";
@import "icons/font-icons.scss";
@import "dev.scss";

#flexiple-comments {
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	* {
		box-sizing: border-box;
	}

	.colored_icn:not(.dg-snackbaricon):not(.dialog-type-icon) {
		opacity: 0.87;
	}
	
	.colored_icn:not(.dg-snackbaricon):not(.dialog-type-icon):hover {
		opacity: 1;
	}
	
	input[type="text"]::-ms-clear, input[type="text"]::-ms-reveal {
		display: none;
		width: 0;
		height: 0;
	}
	
	input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin: 0; 
	}
	
	input[type=number] {
		-moz-appearance: textfield;
	}
	
	.hide {
		display: none !important;
	}
	
	.show {
		display: block;
	}
	
	.full_width {
		width: 100%;
	}
	
	.full_height {
		height: 100%;
	}
	
	.float_left {
		float: left;
	}
	
	.float_right {
		float: right;
	}
	
	.color_white {
		color: #ffffff;
	}
	
	.color_black {
		color: #000000;
	}
	
	.white_bg {
		background-color: #ffffff;
	}
	
	.pos_abs {
		position: absolute;
	}
	
	.pos_rel {
		position: relative;
	}
	
	.cur_pointer {
		cursor: pointer;
	}
	
	.bold {
		font-family: "Lato-Bold";
	}
	
	.bold_open_sans {
		font-family: "Open-Sans-Bold";
	}
	
	.open_sans_regular {
		font-family: "Open-Sans-Regular";
	}
	
	.disp_inline_block {
		display: inline-block;
	}
	
	.list_style_none {
		list-style: none;
	}
	
	.disable {
		cursor: default;
	}
	
	.disable:not(.secondary_btn) {
		color: rgba(0, 0, 0, 0.26);
	}
	
	.vertical_align {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	
	/* Need Position to work */
	.center {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	.align_center {
		text: {
			align: center;
		}
	}
	
	.align_left {
		text: {
			align: left;
		}
	}
	
	.ellipsis {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	
	.gray_scale {
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
	}
	
	.app_mask {
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 10000;
		background: transparent;
	
		text: {
			align: center;
		}
	
		img {
			height: 100px;
			width: 100px
		}
	}
	
	.access_denied {
		color: #a3a3a3;
		
		font: {
			size: 18px;
		}
	}
	
	.custom-horizontal-track {
		background-color: rgba(0, 0, 0, 0.4);
		height: 100%;
		position: relative;
		cursor: pointer;
		border-radius: inherit;
		display: block;
	}
	
	.custom-vertical-track {
		position: relative;
		display: block;
		width: 100%;
		cursor: pointer;
		border-radius: inherit;
		background-color: rgba(0, 0, 0, 0.4);
	}
	
	.MuiButtonBase-root.MuiButton-containedPrimary {
		span {
			font: {
				family: Lato-Bold;
			}
		}
	}
	
	.MuiButtonBase-root.MuiButton-containedPrimary:hover {
		background: {
			color: #74C4A5;
		}
	}

	.MuiButton-containedPrimary.Mui-disabled {
		background: linear-gradient(0deg, #E0E0E0, #E0E0E0), #FFFFFF;
        color: rgba(0, 0, 0, 0.38);
	}
	
	.MuiButtonBase-root.MuiButton-containedPrimary,
	.MuiButtonBase-root.MuiButton-textPrimary {
		border: {
			radius: 141px;
		}
	
		padding: {
			left: 16px;
			right: 16px;
		}
	}
	
	.MuiButtonBase-root.MuiButton-textPrimary {
		.MuiButton-label {
			font: {
				family: Lato-Bold;
			}
		}
	
		transition: background-color 0.5s linear, color 0.5s linear;
	}
	
	.hyperlink {
		cursor: pointer;
		text-decoration: underline;
		color: #15c !important;
	}
	
	.MuiList-root .MuiMenuItem-root, .MuiFormLabel-root.MuiInputLabel-root {
		font: {
			family: "Lato-Regular";
		}
	}
	
	.MuiFormControl-root {
		.MuiInputLabel-asterisk {
			color: #d0021b;
		}
	}
	
	.MuiInputBase-root.Mui-disabled {
		opacity: 0.5;
	}
	
	.disabledIcon {
		opacity: 0.5 !important;
		pointer-events: none;
		cursor: default;
	}

	#nform-body-tabs {
		padding: {
			right: 0px;
		}
	}
	
	*::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}
	 
	*::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); 
		border-radius: 4px;
	}
	 
	*::-webkit-scrollbar-thumb {
		border-radius: 4px;
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); 
	}

	.app-body {
		display: flex;
		flex: 1;

		background: {
			color: #edf0f0;
		}

		max: {
			height: calc(100% - 40px);
		}
	}

	.comments-list {
		width: 100%;
		height: 100%;

		overflow: {
			y: auto;
		}

		> .comment-box {
			border: {
				bottom: 1px solid #e3e3e3;
			}
		}

		> .comment-list-item {
			height: calc(100% - 186px);

			overflow: {
				y: auto;
			}

			padding: {
				top: 16px;
			}

			.comment-cnt {
				background: {
					color: #e3e3e3;
				}
			}

			.comment-box {
				gap: 4px;
			}

			&:empty::before {
				content: 'You can start by adding post from top panel!';
				color: #a3a3a3;
			}
		}
	}
}

